.fab-button {
    background-color: #316fea !important;
    position: absolute !important;
    bottom: 30px;
    right: 40px;
}



.youre-done {
    text-align: center;
}

.delete-button {
    padding: 10px !important;
    float: right;
}
